.navbar {
  display: grid;
  grid-template-rows: 8rem 1fr 6rem;
  height: 100%;
  color: #EEE;
}
.navbar__header, .navbar__body > .navbar-link, .navbar__footer {
  display: grid;
  grid-template-columns: 5rem 1fr;
  align-items: center;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  padding-left: 3rem;
}
.navbar__header i, .navbar__header img, .navbar__body > .navbar-link i, .navbar__body > .navbar-link img, .navbar__footer i, .navbar__footer img {
  justify-self: center;
}
.navbar__header {
  background-color: #3b6978;
  font-size: 2rem;
  font-weight: 700;
}
.navbar__body {
  background-color: #84a9ac;
  display: grid;
  grid-template-rows: repeat(auto-fit, 3rem);
  row-gap: 1rem;
  padding-top: 1rem;
}
.navbar__body .navbar-link {
  font-size: 2rem;
  color: black;
}
.navbar__body .navbar-link .navbar-icons {
  font-size: 2.4rem;
}
.navbar__body .navbar-link:hover {
  color: #333;
}
.navbar__footer {
  background-color: #3b6978;
  grid-template-columns: 5rem 1fr 5rem;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
.navbar__footer__image {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
}
.navbar__footer__dropdown {
  font-size: 1.8rem;
}
.navbar__footer__icon {
  -o-object-fit: cover;
     object-fit: cover;
  color: inherit;
  font-size: 2.4rem;
}
.navbar__footer__icon:hover {
  color: #fff;
  text-shadow: 0 0 5rem #fff;
}
@media (max-width: 1000px) {
  .navbar span {
    display: none;
  }
  .navbar__header, .navbar__body > .navbar-link, .navbar__footer {
    padding-left: 0;
  }
  .navbar__header i, .navbar__header img, .navbar__body > .navbar-link i, .navbar__body > .navbar-link img, .navbar__footer i, .navbar__footer img {
    grid-column: 1/-1;
  }
}

.page-container {
  background-color: #f8fafc;
}

.login {
  display: grid;
  grid-template-columns: 1fr [content-s] 1fr [content-e] 1fr;
  grid-template-rows: 2fr [header-s] 4rem [header-e content-s] 1fr [content-e] 2fr;
  row-gap: 2rem;
}
.login .header {
  grid-column: content-s/content-e;
  grid-row: header-s/header-e;
}
.login .header h1 {
  font-size: 2.8rem;
}
.login .body {
  grid-column: content-s/content-e;
  grid-row: content-s/content-e;
}
.login .body .form {
  display: grid;
  grid-template-rows: repeat(3, 4rem);
  row-gap: 2rem;
}
.login .footer {
  align-self: end;
  justify-self: end;
  min-width: 20%;
  height: 3.2rem;
}
.login .footer button {
  margin-top: 1rem;
  width: 100%;
  height: 100%;
  border: 0;
  font-size: 1.4rem;
  background-color: #84a9ac;
  cursor: pointer;
}
@media (max-width: 1000px) {
  .login .footer {
    min-width: 50%;
  }
}

.register {
  display: grid;
  grid-template-columns: 1fr [content-s] 1fr [content-e] 1fr;
  grid-template-rows: 1fr [header-s] 4rem [header-e content-s] 1fr [content-e] 2fr;
  row-gap: 6rem;
}
.register .header {
  grid-column: content-s/content-e;
  grid-row: header-s/header-e;
  align-self: end;
}
.register .header h1 {
  font-size: 2.8rem;
}
.register .body {
  grid-column: content-s/content-e;
  grid-row: content-s/content-e;
}
.register .body .form {
  display: grid;
  grid-template-rows: repeat(4, 4rem);
  row-gap: 2rem;
}
.register .body .form .form__group {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  row-gap: 1rem;
}
.register .body .form .form__group.row-2 {
  grid-template-rows: 1fr 1fr;
}
.register .body .form .form__group.row-2 .r-full {
  grid-row: 1/-1;
}
.register .body .form .form__group.row-2 .r-first-half {
  grid-row: 1/2;
}
.register .body .form .form__group.row-2 .r-second-half {
  grid-row: 2/3;
}
.register .body .form .form__group.col-3 {
  grid-template-columns: repeat(3, minmax(6rem, 1fr));
}
.register .body .form .form__group.col-3 .c-two-third {
  grid-column: 2/-1;
}
.register .footer {
  align-self: end;
  justify-self: end;
  min-width: 20%;
  height: 3.2rem;
}
.register .footer button {
  margin-top: 1rem;
  width: 100%;
  height: 100%;
  border: 0;
  font-size: 1.4rem;
  background-color: #84a9ac;
  cursor: pointer;
}
@media (max-width: 1000px) {
  .register .footer {
    min-width: 50%;
  }
}

.card {
  display: grid;
  grid-template-columns: 10rem 1fr;
  margin-top: 1rem;
  margin-right: 2rem;
  padding: 1rem;
  max-height: 8rem;
}
.card__image {
  width: 8rem;
  height: 8rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.card__container {
  display: grid;
  grid-template-rows: 3rem 3fr 1fr;
  max-height: 8rem;
}
.card__container__title {
  font-size: 1.8rem;
}
.card__container__body, .card__container__footer {
  font-size: 1.4rem;
}
.card.selected {
  background-color: rgba(59, 105, 120, 0.2);
}

.image-input {
  display: grid;
  align-items: center;
  justify-self: center;
  width: 12rem;
  height: 12rem;
}
.image-input > * {
  grid-row: 1/-1;
  grid-column: 1/-1;
  z-index: 1;
}
.image-input__file {
  visibility: hidden;
}
.image-input__button {
  display: grid;
  justify-items: center;
  row-gap: 0.4rem;
  width: 100%;
  height: 100%;
  font-size: 1.4rem;
  border-radius: 50%;
  background-color: #84a9ac;
}
.image-input__button__label {
  align-self: end;
}
.image-input__button__icon {
  font-size: 1.4rem;
}
.image-input__button:hover {
  background-color: rgba(132, 169, 172, 0.8);
  cursor: pointer;
}
.image-input__button.with-image {
  background-color: transparent;
}
.image-input__button.with-image span, .image-input__button.with-image i {
  display: none;
}
.image-input__button.with-image:hover {
  background-color: rgba(132, 169, 172, 0.6);
}
.image-input__button.with-image:hover span, .image-input__button.with-image:hover i {
  display: inline-block;
}
.image-input__image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.image-input__image.hidden {
  display: none;
}
.image-input__image:hover {
  cursor: pointer;
  z-index: 0;
}

.label {
  display: grid;
  grid-template-rows: 1fr 1fr;
  font-size: 1.4rem;
}
.label .error {
  color: #BE5B56;
}
.label span {
  align-self: center;
  padding-left: 0.4rem;
}
.label input, .label select {
  padding-bottom: 0.4rem;
  padding-left: 0.4rem;
  font-size: 1.6rem;
  border: none;
  border-bottom: 1px solid #000;
  background-color: #f8fafc;
}
.label input:focus, .label select:focus {
  box-shadow: 0px 1px 0px #000;
}

.modal {
  display: grid;
  justify-items: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
}
.modal__container {
  position: relative;
  width: 60%;
  padding: 4rem 2rem;
  background-color: #f8fafc;
}
.modal__container__close {
  position: absolute;
  top: 6rem;
  right: 7rem;
  border: 0;
  background-color: transparent;
  font-size: 2.4rem;
  cursor: pointer;
}

.employee {
  margin-top: 2.2rem;
  margin-left: 2rem;
  background-color: transparent;
}
.employee__title {
  margin-bottom: 2rem;
  font-size: 2.8rem;
  color: #222;
}
.employee__options {
  display: grid;
  grid-template-columns: 7fr 1fr;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}

.search {
  display: grid;
  grid-template-columns: 4rem 1fr;
}
.search__icon {
  font-size: 2rem;
  align-self: center;
  justify-self: center;
}

.actions {
  display: grid;
  grid-template-columns: repeat(3, minmax(4rem, 1fr));
  justify-self: center;
}
.actions button {
  align-self: center;
  width: 3.2rem;
  height: 3.2rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  cursor: pointer;
}
.actions__add {
  background-color: #84a9ac;
}
.actions__add:hover {
  background-color: rgba(132, 169, 172, 0.7);
}
.actions__edit {
  background-color: #E8CC91;
}
.actions__edit:hover {
  background-color: rgba(232, 204, 145, 0.7);
}
.actions__delete {
  background-color: #BE5B56;
}
.actions__delete:hover {
  background-color: rgba(190, 91, 86, 0.7);
}

.employeeForm {
  display: grid;
  grid-template-rows: 6rem 1fr;
  height: 100%;
  padding: 0 3rem;
}
.employeeForm .header {
  font-size: 2.8rem;
  border-bottom: 2px solid #000;
}
.employeeForm .body {
  padding: 1rem 0;
}
.employeeForm .body .form {
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(6rem, 1fr));
  row-gap: 1rem;
}
.employeeForm .body .form .form__tabs {
  display: grid;
  grid-template-rows: 4rem 1fr;
  row-gap: 1rem;
}
.employeeForm .body .form .form__tabs__options {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  align-items: end;
  text-align: center;
}
.employeeForm .body .form .form__tabs__options__option {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  height: 80%;
  border-bottom: 0.1rem solid #000;
  font-size: 1.4rem;
  cursor: pointer;
}
.employeeForm .body .form .form__tabs__options__option .icon {
  font-size: 1.8rem;
  margin-right: 1rem;
}
.employeeForm .body .form .form__tabs__options__option:hover {
  background-color: rgba(132, 169, 172, 0.5);
}
.employeeForm .body .form .form__tabs__options__option:nth-child(n+2) {
  border-left: 0.1rem solid #000;
}
.employeeForm .body .form .form__tabs__options__option.active {
  background-color: #84a9ac;
}
.employeeForm .body .form .form__tabs__content {
  display: grid;
  row-gap: 1rem;
}
.employeeForm .body .form .form__tabs__content__title {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.employeeForm .body .form .form__group {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  row-gap: 1rem;
}
.employeeForm .body .form .form__group.row-2 {
  grid-template-rows: 1fr 1fr;
}
.employeeForm .body .form .form__group.row-2 .r-full {
  grid-row: 1/-1;
}
.employeeForm .body .form .form__group.row-2 .r-first-half {
  grid-row: 1/2;
}
.employeeForm .body .form .form__group.row-2 .r-second-half {
  grid-row: 2/3;
}
.employeeForm .body .form .form__group.col-3 {
  grid-template-columns: repeat(3, minmax(6rem, 1fr));
}
.employeeForm .body .form .form__group.col-3 .c-two-third {
  grid-column: 2/-1;
}
@media (max-width: 1000px) {
  .employeeForm .body .form .form__group {
    row-gap: 1rem;
    grid-template-columns: 1fr;
  }
}
.employeeForm .footer {
  align-self: end;
  justify-self: end;
  min-width: 20%;
  height: 3.2rem;
}
.employeeForm .footer button {
  margin-top: 1rem;
  width: 100%;
  height: 100%;
  border: 0;
  font-size: 1.4rem;
  background-color: #84a9ac;
  cursor: pointer;
}
@media (max-width: 1000px) {
  .employeeForm .footer {
    min-width: 50%;
  }
}

.employee-details {
  display: grid;
  grid-template-rows: 10rem 1fr;
  row-gap: 2rem;
  height: 100%;
  padding: 0 3rem;
}
.employee-details__header {
  display: grid;
  grid-template-rows: [top-s] 1fr [top-e botton-s] 1fr [botton-e];
  grid-template-columns: [profile-s] 10rem [profile-e details-s] 1fr [details-e actions-s] 10rem [actions-e];
  margin-right: 5rem;
  border-bottom: 0.1rem solid #000;
}
.employee-details__header__profile {
  grid-row: top-s/botton-e;
  grid-column: profile-s/profile-e;
  align-self: center;
  justify-self: center;
}
.employee-details__header__name {
  grid-row: top-s/top-e;
  grid-column: details-s/details-e;
  align-self: end;
  font-size: 2.4rem;
}
.employee-details__header__extra {
  grid-row: botton-s/botton-e;
  grid-column: details-s/details-e;
  font-size: 1.6rem;
}
.employee-details__header__options {
  grid-template-columns: repeat(2, 4rem);
  grid-row: top-s/botton-e;
  grid-column: actions-s/actions-e;
  align-self: center;
  justify-items: center;
}
.employee-details__body {
  display: grid;
  grid-template-rows: auto 1fr;
  row-gap: 1rem;
}
.employee-details__body__achievements .achievement-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 1rem;
  list-style-type: none;
}
.employee-details__body__achievements .achievement-list .achievement-item {
  text-align: center;
  margin-left: 1rem;
  margin-bottom: 0.4rem;
  font-size: 1.6rem;
  font-weight: 700;
}
.employee-details__body__achievements .achievement-list .achievement-item .achievement-value {
  display: block;
  font-size: 3rem;
  font-weight: 400;
}
.employee-details__body .title {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

:root {
  font-size: 62.5%;
}

body {
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

.screen {
  display: grid;
  grid-template-columns: minmax(10rem, 2fr) 9fr;
  width: 100vw;
  height: 100vh;
}
.screen.full {
  grid-template-columns: 1fr;
}

textarea:focus, input:focus {
  outline: none;
}

@media (max-width: 1000px) {
  .screen {
    grid-template-columns: 8rem 1fr;
  }
}
