.card {
    display: grid;
    grid-template-columns: 10rem 1fr;

    margin-top: 1rem;
    margin-right: 2rem;
    padding: 1rem;

    max-height: 8rem;

    &__image {
        width: 8rem;
        height: 8rem;
        object-fit: cover;

        border-radius: 50%;
    }

    &__container {
        display: grid;
        grid-template-rows: 3rem 3fr 1fr;

        max-height: 8rem;

        &__title {
            font-size: 1.8rem;
        }

        &__body, &__footer {
            font-size: 1.4rem;
        }
    }

    &.selected {
        background-color: rgba($main, 0.2);
    }
}
