.image-input {
    display: grid;
    align-items: center;
    justify-self: center;

    width: 12rem;
    height: 12rem;

    & > * {
        grid-row: 1/-1;
        grid-column: 1/-1;
        z-index: 1;
    }

    &__file {
        visibility: hidden;
    }

    &__button {
        display: grid;
        justify-items: center;
        row-gap: .4rem;

        width: 100%;
        height: 100%;
        font-size: 1.4rem;
        border-radius: 50%;

        background-color: $light;

        &__label {
            align-self: end;
        }

        &__icon {
            font-size: 1.4rem;
        }

        &:hover {
            background-color: rgba($light, 0.8);
            cursor: pointer;
        }

        &.with-image {
            background-color: transparent;

            span, i {
                display: none;
            }

            &:hover {
                background-color: rgba($light, 0.6);
                span, i {
                    display: inline-block;
                }
            }
        }
    }

    &__image {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;

        &.hidden {
            display: none;
        }

        &:hover {
            cursor: pointer;
            z-index: 0;
        }
    }
}

