.modal {
    display: grid;
    justify-items: center;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background-color: rgba(#000, .7);

    &__container {
        position: relative;

        width: 70%;
        padding: 4rem 2rem;
        background-color: $body-bg;

        &__close {
            position: absolute;
            top: 12%;
            left: 95%;

            border: 0;
            background-color: transparent;

            font-size: 2.4rem;
            cursor: pointer;
        }
    }
}
